<div id="rfb-home-intro" class="row">
    <div class="col-md-4">
        <p class="events-header">Running for Brews 5k Events</p>
        <img src="../../content/images/rfb-group-run.jpeg" width="555" height="226">
    </div>
    <div class="col-md-8">
        <h1 class="display-4">We Love 5k Running & Craft Brews</h1>
        <p class="lead">Bacon ipsum dolor amet picanha jerky cupim kevin andouille tri-tip. Rump ribeye kielbasa chuck
            capicola ham hock tri-tip, pork loin boudin drumstick brisket short ribs tail. Flank pork chop cupim pork,
            alcatra doner venison corned beef kielbasa short loin beef cow chuck rump ground round. Ham hock sirloin
            pork belly alcatra, pork loin jowl chicken tail chislic strip steak meatball frankfurter. Meatball andouille
            pastrami tenderloin boudin filet mignon beef ground round meatloaf.

            Leberkas drumstick venison, shoulder chicken kevin salami spare ribs ribeye alcatra ham hock. Swine salami
            prosciutto, doner cupim boudin pork chop shank leberkas tri-tip t-bone filet mignon pastrami. T-bone buffalo
            andouille, salami turducken chuck corned beef ham. Sirloin pancetta turducken, cupim hamburger doner kevin
            tenderloin pork belly leberkas shankle flank brisket pork chop ground round. Tenderloin shoulder pork belly
            drumstick. Jowl pig brisket tail ribeye meatball bresaola corned beef shank pancetta alcatra meatloaf.</p>
    </div>
</div>
